@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes fromUp {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100px;
  }
}
