/* CPN ---------- DEFAULT CONTAINER ------------ */
.cpn_container {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1160px;
  margin: 0 auto;
}

/* CPN ---------- HEADER ------------ */
.cpn_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 64px;
  padding: 32px 0px;
  background: var(--b1);
}

.cpn_header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 40px;
}

.cpn_header-separator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--b6);
}

.cpn_header ul a {
  position: relative;
}
.cpn_header ul a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background-color: var(--b13);
  transition: 0.3s width;
  position: absolute;
}
.cpn_header ul a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .cpn_header ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cpn_header-separator {
    display: none;
  }

  .cpn_header ul a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cpn_header ul a::after {
    display: none;
  }
}

#index .cpn_header {
  margin-bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(21, 0, 0, 0.9) 0%,
    rgba(21, 0, 0, 0.54) 82%,
    rgba(21, 0, 0, 0) 100%
  );
}

/* CPN ---------- TITLE ------------ */
.cpn_title {
  margin-bottom: 40px;
}

/* CPN ---------- FOOTER ------------ */
.cpn_footer-bg {
  background-color: var(--b1);
}

.cpn_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cpn_footer-map h3 {
  margin-bottom: 20px;
}

.cpn_footer-map ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cpn_footer-map a {
  display: flex;
  align-items: center;
}
.cpn_footer-map a:hover {
  color: var(--b11);
}
.cpn_footer-map a::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 50%;
  background-color: var(--b5);
}

.cpn_footer-contacts h3 {
  margin-bottom: 20px;
}

.cpn_footer-contacts ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cpn_footer-contacts a {
  transition: color 0.3s;
}
.cpn_footer-contacts a:hover {
  color: var(--b11);
}

.cpn_footer-social {
  width: 100%;
}

.cpn_footer-social img {
  margin: 0px auto 40px auto;
  transition: transform 0.3s;
}
.cpn_footer-social img:hover {
  transform: scale(1.05);
}

.cpn_footer-social div {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 1000px) {
  .cpn_footer {
    grid-template-columns: 1fr 1fr;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .cpn_footer-contacts {
    margin-bottom: 40px;
  }

  .cpn_footer-social {
    grid-column: 1/-1;
  }
}

@media (max-width: 600px) {
  .cpn_footer {
    grid-template-columns: 1fr;
  }

  .cpn_footer-social > img {
    width: 200px;
    height: auto;
  }

  .cpn_footer a img {
    width: 52px;
    height: 52px;
  }
}
