.subtitle {
  margin-bottom: 64px;
}

/* ------------ GALERY ------------ */
.galery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px 40px;
  padding-bottom: 100px;
}

.galery-imageContainer {
  grid-column: span 2;
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}
.galery-imageContainer:nth-child(1),
.galery-imageContainer:nth-child(2) {
  grid-column: span 3;
}
.galery-imageContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: inset 0px 0px 100px #000;
  opacity: 0%;
  position: absolute;
  z-index: 1;
  transition: opacity 0.5s;
}
.galery-imageContainer:hover::before {
  opacity: 100%;
}

.galery-fullscreenContainer {
  padding: 8px;
  border-radius: 4px;
  opacity: 0%;
  background-color: rgba(15, 0, 0, 0.6); /* B1 with 60% opacity */
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 8px;
  transition: opacity 0.3s, top 0.3s;
}
.galery-imageContainer:hover .galery-fullscreenContainer {
  opacity: 100%;
  top: 16px;
}

.galery-fullscreenContainer img {
  width: 24px;
}

.galery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

@media (max-width: 1000px) {
  .galery {
    grid-template-columns: 1fr 1fr;
  }

  .galery-imageContainer {
    grid-column: auto;
  }

  .galery-imageContainer:nth-child(1),
  .galery-imageContainer:nth-child(2) {
    grid-column: auto;
  }

  .galery-fullscreenContainer {
    opacity: 100%;
    top: 16px;
  }
}

@media (max-width: 800px) {
  .galery {
    grid-template-columns: 1fr;
    padding-bottom: 64px;
  }

  .galery-imageContainer {
    height: 300px;
  }
}
