/* ------------ INTRO ------------ */
.intro {
  display: flex;
  flex-direction: column;
  background: url("../../img/intro-m.jpg") center no-repeat;
  background-size: cover;
}

/* ------------ HEADER ------------ */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 32px 0px;
  background: linear-gradient(
    180deg,
    rgba(21, 0, 0, 0.9) 0%,
    rgba(21, 0, 0, 0.54) 82%,
    rgba(21, 0, 0, 0) 100%
  );
}

.header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 40px;
}

.header .separator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--b6);
}

@media (max-width: 800px) {
  .header ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header .separator {
    display: none;
  }

  .header a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* ------------ TITLE ------------ */
.title-bg {
  margin: 200px 0px 260px 0px;
  background: linear-gradient(
    90deg,
    rgba(21, 0, 0, 0.1) 0%,
    rgba(21, 0, 0, 0.8) 28%,
    rgba(21, 0, 0, 0.8) 51%,
    rgba(21, 0, 0, 0) 100%
  );
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title h1 {
  max-width: 760px;
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .title-bg {
    margin: 100px 0px 140px 0px;
  }
}

/* ------------ OPENING ------------ */
.opening {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 900px) {
  .opening {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .opening img {
    width: 200px;
  }
}

/* ------------ MENU ------------ */
.menu-bg {
  background-color: var(--b1);
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.menu-bg .img-container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu-bg img {
  height: 100%;
  max-width: 100%;
  grid-column: 2/3;
  object-fit: cover;
}

.menu .content {
  grid-column: 1/2;
  padding: 64px 0;
}

.menu h2 {
  width: fit-content;
  margin-bottom: 32px;
  position: relative;
  z-index: 0;
}
.menu h2::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--b6);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.menu p {
  margin-bottom: 40px;
}

.menu ul {
  margin-bottom: 64px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.menu li::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../../img/svg/decorator.svg");
}

.menu a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  background: linear-gradient(#dd9428, #ff9900);
}

@media (max-width: 900px) {
  .menu-bg .img-container {
    grid-template-columns: 2fr 1fr;
  }

  .menu {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu .content {
    grid-column: 1/3;
  }
}

@media (max-width: 700px) {
  .menu-bg .img-container {
    display: none;
  }

  .menu {
    grid-template-columns: 1fr;
  }

  .menu .content {
    grid-column: 1/3;
  }
}

/* ------------ LOCATION ------------ */
.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.location h2 {
  text-align: center;
}

.location address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.location a {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .location {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

/* ------------ HANDMADE ------------ */
.handmade-bg {
  background-color: var(--b11);
  position: relative;
}

.handmade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.handmade-bg .img-container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.handmade-bg img {
  height: 100%;
  max-width: 100%;
  grid-column: 1/2;
  object-fit: cover;
}

.handmade .content {
  height: 660px;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 0;
}

.handmade h2 {
  display: block;
  margin-bottom: 32px;
}

@media (max-width: 900px) {
  .handmade-bg .img-container {
    grid-template-columns: 1fr 2fr;
  }

  .handmade {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .handmade .content {
    grid-column: 2/4;
  }
}

@media (max-width: 700px) {
  .handmade-bg .img-container {
    display: none;
  }

  .handmade {
    grid-template-columns: 1fr;
  }

  .handmade .content {
    grid-column: 1/2;
    height: auto;
  }
}

/* ------------ WIFI ------------ */
.wifi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 100px 32px;
}

.wifi img {
  justify-self: center;
}

@media (max-width: 800px) {
  .wifi {
    grid-template-columns: 1fr;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .wifi img {
    width: 152px;
  }
}

@media (max-width: 600px) {
  .wifi img {
    width: 120px;
  }
}

/* ------------ RATING ------------ */
.rating {
  padding: 100px 0px;
  background-color: var(--b3);
}

.rating h2 {
  width: fit-content;
  margin-bottom: 32px;
  position: relative;
  z-index: 0;
}
.rating h2::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--b6);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.rating .title span {
  display: block;
  margin-bottom: 64px;
}

.rating .content {
  width: fit-content;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 40px;
}

.rating .content .rate {
  max-width: 440px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--b5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.rating .content .rate::before,
.rating .content .rate::after {
  content: "";
  width: 40px;
  height: 36px;
  position: absolute;
}
.rating .content .rate::before {
  background: url("../../img/svg/quote-open.svg") no-repeat;
  background-size: contain;
  left: -20px;
  top: -18px;
}
.rating .content .rate::after {
  background: url("../../img/svg/quote-close.svg") no-repeat;
  background-size: contain;
  right: -20px;
  bottom: -18px;
}

.rating .content .rate span {
  display: block;
}

.rating .content .rate .office {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .rating {
    padding: 64px 0px;
    background-color: var(--b3);
  }
  .rating .content .rate::before {
    width: 30px;
    height: 27px;
    left: -15px;
    top: -13.5px;
  }
  .rating .content .rate::after {
    width: 30px;
    height: -27px;
    right: -15px;
    bottom: -13.5px;
  }
}
