/* ------------ HEADER ------------ */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: linear-gradient(
    180deg,
    rgba(21, 0, 0, 0.9) 0%,
    rgba(21, 0, 0, 0.54) 82.29%,
    rgba(21, 0, 0, 0) 99.99%,
    rgba(21, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.header img {
  margin-bottom: 40px;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .separator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--b6);
}

/* ------------ INTRO ------------ */
.intro {
  background: url("../../img/intro.jpg") center;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
}

.intro .strip-bg {
  width: 100%;
  background: linear-gradient(
    89.99deg,
    rgba(21, 0, 0, 0.1) 0.01%,
    rgba(21, 0, 0, 0.8) 28.13%,
    rgba(21, 0, 0, 0.8) 51.56%,
    rgba(21, 0, 0, 0) 99.99%
  );
}

.intro .strip {
  padding: 20px 0px;
}

.intro h1 {
  max-width: 760px;
}

/* ------------ OPENING ------------ */
.opening {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 100px 0px;
}

/* ------------ MENU ------------ */
.menu-bg {
  background-color: var(--b1);
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.menu-bg .img-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu-bg img {
  grid-column: 2/3;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.menu .content {
  grid-column: 1/2;
  padding: 64px 0;
}

.menu h2 {
  margin-bottom: 32px;
  position: relative;
  width: fit-content;
  z-index: 0;
}
.menu h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--b6);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.menu p {
  margin-bottom: 40px;
}

.menu ul {
  margin-bottom: 64px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.menu li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../../img/svg/decorator.svg");
}

.menu a {
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  background: linear-gradient(#dd9428, #ff9900);
}

/* ------------ LOCATION ------------ */
.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 100px 0px;
  align-items: center;
}

.location h2 {
  text-align: center;
}

.location address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.location a {
  text-decoration: underline;
}

/* ------------ HANDMADE ------------ */
.handmade-bg {
  background-color: var(--b11);
  position: relative;
}

.handmade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.handmade-bg .img-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.handmade-bg img {
  grid-column: 1/2;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.handmade .content {
  grid-column: 2/3;
  height: 660px;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.handmade h2 {
  display: block;
  margin-bottom: 32px;
}

/* ------------ WIFI ------------ */
.wifi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0px;
  gap: 40px;
  align-items: center;
}

.wifi img {
  justify-self: center;
}

/* ------------ RATING ------------ */
.rating {
  padding: 64px 0px 120px 0px;
  background-color: var(--b3);
}

.rating h2 {
  margin-bottom: 32px;
  position: relative;
  width: fit-content;
  z-index: 0;
}
.rating h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--b6);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.rating .title span {
  display: block;
  margin-bottom: 64px;
}

.rating .content {
  width: fit-content;
  display: flex;
  gap: 60px;
  margin: 0 auto;
}

.rating .content .rate {
  max-width: 440px;
  background-color: var(--b5);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.rating .content .rate::before,
.rating .content .rate::after {
  content: "";
  width: 40px;
  height: 36px;
  position: absolute;
}
.rating .content .rate::before {
  background: url("../../img/svg/quote-open.svg");
  left: -20px;
  top: -18px;
}
.rating .content .rate::after {
  background: url("../../img/svg/quote-close.svg");
  right: -20px;
  bottom: -18px;
}

.rating .content .rate span {
  display: block;
}

.rating .content .rate .office {
  margin-bottom: 32px;
}
